html {
  width: 100%;
  height: 100%;
 

}

body {
  padding: 5px;
  font-size: 1em;
   background: #888;
   width:100%;

}


.ui.input {
  padding-top:15px;
  line-height: .75rem;
}
h1{

  font: 50px 'Titillium Web', sans-serif;
  font-weight: 900;
  line-height: 48px;
  margin: 0 0;
  padding: 5px 10px;
  
}

img {-webkit-filter: grayscale(40%); 
              filter: grayscale(40%);
              filter: FlipH;
      -moz-transform: scaleX(-1); /* For Mozilla Firefox */
      -webkit-transform: scaleX(-1);
      position: absolute;
      width:200px; 
      top: -20px;
          }

button {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  background: #888;
  width:100%;
  color: #fff;
  margin:5px;
  padding:3px;
  border-radius:2px;


}
.bigImage {
  display:block;
  margin: auto 0;
}

li {
  color: #666;
  display:inline;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 22px;
  font-style: normal;
  line-height: 1.0;
  padding:5px;
}

.day {
  background:#DBECEC;
}

.night {
  background: #00003D;
}

.dark {
  color: #00003D;
}


.light {
  color:#DBECEC;
}



