html {
  width: 100%;
  height: 100%;
 

}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
   background: #888;
   width:100%;

}

.ui.modal {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  opacity: .8;
  width: 80%;
}


.ui.input {
  padding-top:15px;
  
}

.ui.vertical.segment {
  margin-top: 15px;
}

.ui.category.search {
  padding: 40px 0 50px 5px;
}

.ui.icon.input {
  padding-left: 5px;
}

header {
  padding-top:35px;
}
h1{

  font: 60px 'Titillium Web', sans-serif;
  font-weight: 900;
  line-height: 60px;
  margin: 0 0;
  padding: 15px 10px;
  
}

.city, .state {
  font-size: 28px;
  line-height: 36px;
}

.wind {
  font-weight: 400;
}

img {-webkit-filter: grayscale(40%); 
              filter: grayscale(40%);
              filter: FlipH;
      -moz-transform: scaleX(-1); /* For Mozilla Firefox */
      -webkit-transform: scaleX(-1);
      position: absolute;
      width:200px; 
      top: -20px;
          }

button, .ui.button {
  
  font-weight: 700;
  background: #888;
  width:100%;
  color: #fff;
  line-height: 2em;
  margin:5px;
  padding:13px 3px;
  border-radius:2px;


}
.place {

  margin-top: 55px;

}
div#geekspot.eight.wide {
  display: none;
}

.geekData ul {
  display:inline;
  padding: 10px;
}
.geekData ul li {
 font-weight: 400;
  font-size: 1rem;
}

.bigImage {
  text-align: center;
  display:block;
  margin: auto 0;
}
.geekData.column li {
  display: block;


}
li {
  color: #666;
  display:inline;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 22px;
  font-style: normal;
  line-height: 1.0;
  padding:5px;
}

li.wind {
 line-height: 2em;
}

.day {
  background:#DBECEC;
}

.night {
  background: #00003D;
}

.dark {
  color: #00003D;
}


.light {
  color:#DBECEC;
}

.lefty {
  
  float:left;
}
/*MOBILE*/
@media  (max-width: 767px) {

 h1{

  font: 44px 'Titillium Web', sans-serif;
  font-weight: 900;
  
} 
    
}



/*TABLET*/
@media  (min-width: 768px) {

div.ui.vertical.segment {
  max-width: 600px;
  margin:auto;
}
  
}


/*DESKTOP*/
@media  (min-width: 992px) {

  
}

